<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaron.mybatis.mapper.MerchantMapper">
    <resultMap id="merchantMap" type="com.aaron.mybatis.entity.Merchant">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="scopes" jdbcType="VARCHAR" property="scopes" typeHandler="com.aaron.mybatis.handler.ListScopeHandler" />
    </resultMap>

    <select id="queryAll" resultMap="merchantMap">
        select * from mybatis_merchant;
    </select>


    <select id="queryByPrimaryKey" parameterType="int" resultMap="merchantMap">
        select * from mybatis_merchant where id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="save" parameterType="com.aaron.mybatis.entity.Merchant" >
        INSERT INTO mybatis_merchant(name, address, create_time, scopes) VALUES
        (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, CURRENT_TIMESTAMP, #{scopes,jdbcType=VARCHAR,typeHandler=com.aaron.mybatis.handler.ListScopeHandler})
    </insert>
</mapper>